<button id="sidePanelButton" class="openbtn" (click)="SidePanelCollapse()"><i id="iArrow" class='fas fa-angle-right'></i></button> 
<div id="mySidepanel" class="sidepanel">
        <div class="centerVertically">
        <span class="row">
                 <a class="bottomspace150px" [routerLink]="['/']" style="margin-left:-5px;">Dashboard</a><img src="https://via.placeholder.com/150" class="image" alt="TestImage">
        </span>
        <span class="row">
                 <a class="bottomspace150px"  [routerLink]="['/Ticket']" style="margin-left: 20px;">Tickets</a><img src="https://via.placeholder.com/150" class="image" alt="TestImage">
         </span>
         <span class="row">
                  <a class="bottomspace150px" [routerLink]="['/']" style="margin-left:-5px;">Customers</a><img src="https://via.placeholder.com/150" class="image" alt="TestImage">
          </span>
          <span class="row">
                 <a class="bottomspace150px" [routerLink]="['/']" style="margin-left:5px;">Solutions</a><img src="https://via.placeholder.com/150" class="image" alt="TestImage">
         </span>  
        </div>    
</div>
