.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
  }
  .span12{
      background-color: #EEEEEE;
      padding: 50px;
  }