<div class="span12">
        <div class="hero-unit center">
            <h1>Internal server error <small>
                    <font face="Tahoma" color="red">Error 500</font>
                </small></h1>
            <br />
            <p>Sorry, something went wrong on our end. We are currently trying to fix the problem.</p>
            <p><b>Maybe you could just press this neat little button:</b></p>
            <a [routerLink]="['/Home']" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
        </div>
        <br />
    
    </div>