<h2 style="margin-bottom: 30px;">Password reset</h2>
<div class="col-md-9 offset-md-3">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" id="" class="form-horizontal">

                <div class="form-group">
                    <label class="col-md-3 control-label">E-mail</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" formControlName="Email"
                            placeholder="YourEmail@domain.com" value="" required />
                    </div>
                    <span class="text-danger"
                        *ngIf="resetForm.get('Email').errors?.email  && resetForm.get('Email').touched">Please
                        give a correct e-mail<br></span>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Password</label>
                    <div class="col-md-9">
                        <password-strength-meter [password]="password"></password-strength-meter>
                        <show-hide-password size="md" btnStyle="secondary" [btnOutline]="false">
                            <input type="password" class="form-control" formControlName="Password"
                                [(ngModel)]="password" required />
                        </show-hide-password>
                    </div>
                </div>

                <span class="text-danger"
                    *ngIf="resetForm.get('Password').touched && resetForm.get('Password').errors?.minlength">Your
                    password is too weak
                </span>
                <div class="form-group">
                    <label class="col-md-3 control-label">Confirm </label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" formControlName="ConfirmPassword" required />
                    </div>
                    <span class="text-danger"
                        *ngIf="resetForm.get('ConfirmPassword').touched && resetForm.get('ConfirmPassword').errors?.isError">The
                        confirm password don't match with the password</span>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-primary" [disabled]="!resetForm.valid" value="Reset">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div style="margin-top:450px;"></div>
</div>
